<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="V2TestSuite">
  <test thread-count="8" name="RegressionTest" preserve-order="true">
    <classes>
      <!-- class name="tests.Signup" -->
      <class name="tests.LogIn"/>
      <class name="tests.SavingsScreen"/>
      <class name="tests.MoveToSpending"/>
      <class name="tests.MoveMoney"/>
      <class name="tests.CardActivation"/>
      <class name="tests.CardConfirmation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- V2TestSuite -->
